:root {
    font-size: 14px;
    color: #233;
}

#proxy-info {
    border-radius: 3px;
    padding: 3px;
    box-shadow: 0 0 2px 0 #0005;
}

table {
    border-collapse: collapse;
    width: 12rem;
}

th {
    font-weight: normal;
    text-align: right;
    width: 3.5rem;
    padding: 0;
}

#info-table td {
    padding: 3px 6px;
}

#edit-table td,
#switch-table td {
    padding: 1px 3px;
}

#proxy-info input[type="text"],
#proxy-info select {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #0005;
    outline: none;
    padding: 2px 3px;
    width: 100%;
    margin: 0;
}

#btn-container {
    display: flex;
    margin: .5rem 0 0 0;
}

#btn-container>button {
    flex: 1 1 auto;
    margin: 3px;
}

select,
button {
    cursor: pointer;
}

button {
    border-radius: 3px;
    border: 1px solid #0005;
    cursor: pointer;
    outline: none;
    /* box-shadow: 0 0 2px 0 #0005; */
}

button:active {
    box-shadow: none;
}