:root {
    font-size: 14px;
    font-family: sans-serif;
    color: #233;
}

#proxy-info {
    border-radius: 3px;
    border: 1px solid #0005;
    padding: 3px;
    box-shadow: 1px 1px 2px 0 #0003;
    background-color: #f8fff8;
}

table {
    border-collapse: collapse;
    width: 12rem;
}

th {
    font-weight: normal;
    text-align: right;
    width: 3.5rem;
    padding: 0;
}

#info-table td {
    padding: 3px 6px;
}

#edit-table td,
#switch-table td {
    padding: 1px 3px;
}

#proxy-info input[type="text"],
#proxy-info select {
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #0005;
    outline: none;
    padding: 2px 3px;
    width: 100%;
    margin: 0;
}

#btn-container {
    display: flex;
    gap: .5rem;
    margin: .5rem 0 0 0;
}

#btn-container>button {
    flex: 1 1 auto;
}

select,
button {
    cursor: pointer;
}

button {
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #0005;
    cursor: pointer;
    background-color: #0001;
    transition-duration: 100ms;
    outline: none;
    box-shadow: 1px 1px 1px 0 #0003;
}

button:hover{
    background-color: #0002;
}

button:active {
    box-shadow: none;
}